.DashboardPage {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.DashboardPage__events {
    td {
        vertical-align: middle;
        height: 80px;
        padding: 4px 18px;
        .DashboardPage__events__preview {
            cursor: pointer;
            height: 160px;
            width: 284px;
        }
    }
}
